#bgd{
	background: #ffb66c;
}

#corSpan8{
	margin-top: 30px;
}

#rodape{
	margin: auto;
	position:fixed;
	width: 100%;
	bottom:0;
	background-color: #101010;
}

#login{
	background-color: #fff;
	width: 420px;
	padding: 20px;
	margin-top: 170px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#busca{
	background-color: #fff;
	padding: 20px;
	margin-top: 170px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#imagens{
	margin-top: 60px;
}

#campoMensagem{
	padding: 20px;
	margin-top: 60px;
	padding-top: 10px;
}

#mensagem{
	padding: 20px;
	margin-top: 20px;
	padding-top: 10px;
}

#span6Perfil{
	margin-top: 60px;
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-bottom: 10px;
}

#span2Perfil{
	margin-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-bottom: 10px;
	
}

#span4Perfil{
	margin-top: 60px;
	padding-bottom: 30px;
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#span6Sobre{
	margin-top: 60px;
	background-color: white;
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	height: 570px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}